body {
    font-family: sans-serif;
    background: #d5d0d8;
    color: #454347;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.25em auto;
    background: #fff;
    padding: 1em;
    width: 90%;
    box-shadow: 5px 5px 10px #bcb7bf;
}

pre {
    white-space: pre-wrap;
    margin: 0;
    background: #454347;
    color: #fff;
    padding: 0.5em;
    box-sizing: border-box;
}

button {
    background: #454347;
    border: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

button:hover {
    background: #6d6a70;
}

button:active {
    background: #565458;
}

button:disabled {
    background: #9d9aa1;
    color: #fff!important;
}

#inc {
    color: #e2aff7;
}

#reset {
    color: #fff;
}

.values::before {
    content: "Variable values:";
    display: block;
    background: #6d6a70;
    border-bottom: 1px solid #fff;
    margin-bottom: 0.5em;
    padding: 3px;
}

.written::before {
    content: "Script:";
    display: block;
    background: #6d6a70;
    border-bottom: 1px solid #fff;
    margin-bottom: 0.5em;
    padding: 3px;
}

.console::before {
    content: "Console:";
    display: block;
    background: #6d6a70;
    border-bottom: 1px solid #fff;
    margin-bottom: 0.5em;
    padding: 3px;
}

.explanation, .view {
    flex-basis: 45%;
}

.step {
    display: block;
    text-align: center;
}

.step > div {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.step > div pre {
    flex-basis: 33%;
    text-align: left;

}

.current {
    color: #e2aff7;
}

@media (max-width: 768px) {
    section, .step > div {
        flex-direction: column;
        align-items: stretch;
    }
    
    pre {
        margin-top: 1em; 
    }
}